.article-preview
  padding: 60px 0
  background-image: url(../img/article-preview.jpg)
  background-position: top center
  background-size: cover
  background-repeat: no-repeat
  &__header
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 0 50px 0
  &__subject
    color: #4592FF
  &__home
    margin: 0 30px 0 0
    font-family: Lato, sans-serif
    font-weight: 800
    font-size: 14px
    line-height: 20px
    color: #FFFFFF
    &-icon
      margin: 0 5px 0 0
      vertical-align: middle
  &__prev
    display: inline-block
    margin: 0 20px 0 0
    font-family: Lato, sans-serif
    font-weight: 800
    font-size: 14px
    line-height: 20px
    color: #FFFFFF
    &-icon
      margin: 0 5px 2px 0
      vertical-align: middle
  &__next
    font-family: Lato, sans-serif
    font-weight: 800
    font-size: 14px
    line-height: 20px
    color: #FFFFFF
    &-icon
      display: inline-block
      margin: 0 0 2px 5px
      vertical-align: middle
  &__heading
    margin: 0 0 30px 0
    max-width: 640px
    font-size: 55px
    line-height: 70px
  &__text
    max-width: 556px
    margin: 0 0 60px 0
    color: #FFFFFF
    opacity: 0.85
  &__footer
    display: flex
    align-items: center
    &-wrapper
      display: flex
      align-items: center
  &__time-block
    margin: 0 20px 0 0
  &__comments-number
    margin: 0 30px 0 20px

.switches
  display: flex
  align-items: center

.clock-icon
  vertical-align: middle

.share-button
  display: inline-flex
  align-items: center
  height: 40px
  padding: 0 25px 0 20px
  font-family: Lato
  font-weight: 800
  font-size: 14px
  line-height: 20px
  color: #FFFFFF
  border: 1px solid #958A86
  box-sizing: border-box
  border-radius: 20px
  &>img
    margin: 0 5px 0 0
