//<МИКСИНЫ>==============================================================================================================
@import "_mixins.sass"
//</МИКСИНЫ>=============================================================================================================

//<ШРИФТЫ>===============================================================================================================

//</ШРИФТЫ>==============================================================================================================

//<ПЕРЕМЕННИЕ>===========================================================================================================
@import "_variables.sass"
//</ПЕРЕМЕННИЕ>==========================================================================================================

//<ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
@import "_nullstyle.sass"
//</ОБНУЛЕНИЯ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================================

//<ОБОЛОЧКА>=============================================================================================================
.wrapper
  width: 100%
  min-height: 100%
  overflow: hidden

//</ОБОЛОЧКА>============================================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================================
.container
  max-width: $mv+px
  margin: 0 auto
  width: 100%

  @media (max-width: $md1+px)
    max-width: 970px

  @media (max-width: $md2+px)
    max-width: 750px

  @media (max-width: $md3+px)
    max-width: none
    padding: 0 10px

//</ОСНОВНАЯ СЕТКА>======================================================================================================

//<ОСНОВНОЙ БЛОК>========================================================================================================

//</ОСНОВНОЙ БЛОК>=======================================================================================================

//<ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛМЕНТОВ>=========================================================================
@import "blocks/_header.sass"
@import "blocks/_footer.sass"
//</ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛМЕНТОВ>========================================================================

